In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn import linear_model

In [5]:
df = pd.read_csv('home_price_multi.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  615000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [11]:
import math
median_bd = math.floor(df.bedrooms.median())
df.bedrooms = df.bedrooms.fillna(median_bd)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  615000
3  3600       3.0   30  680000
4  4000       5.0    8  725000

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']], df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [13]:
reg.coef_

array([   147.75, -12975.  ,   -175.  ])

In [14]:
reg.intercept_

192275.00000000006

In [15]:
reg.predict([[3000,3,40]])

array([ 589600.])